* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}



/* .header {
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
} */

/* .logo {
  position: absolute;
  width: 178.79px;
  height: 26.22px;
  left: 20px;
  top: 19px;
} */

.meme-face {
  height: 100%;
  margin-right: 6px;
}

.meme-text {
  font-size: 1.25rem;
  margin-right: auto;
  color: white;
  

}



/* .meme-fun {
  font-size: 0.75rem;
  font-weight: 500;
} */

main {
  padding: 36px;
}

.form {
  
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 18px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  overflow: hidden;

}

.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background-color: #61DBFB;
  /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.meme {
  position: relative;
  
}

.meme-image {
  max-width: 100%;
  height: 55vh;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  
}

.meme-card {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}


.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* nav */

nav {
  display: flex;
  align-items: center;
  background-color: #61DBFB;
  /* background-color: #ffffff; */
  /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark .meme-text {
  color: black;
  /* background-color: white; */
}

main.dark .form-button{
  background-color: white;
  color: black;
  
} 

main.dark .main-container{
  background-color: #282D35;;
  /* height: 20vh; */
}

nav.dark {
  background-color: white;
  /* background-color: #61DBFB; */
  /* color: black; */
  /* background-color: #21222A; */
  /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
}

/* toggler */

main.dark {
  /* background-image: url("./images/react-icon-dark.png");  */
  background-color: #282D35;
  color: white;    
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
  
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #61DBFB;
  /* color: #FFFFFF; */
  /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* Footer */
footer.dark .social-container{
  background-color: white;
  color: black;
}


.social-container {
  background: #61DBFB;
  padding: 25px 50px;
  text-align: center;
  color: white;
  
  
}


a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color: #0e76a8;
}

a.github {
  color: #211F1F;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  background: linear-gradient(to right, #6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: outline;
  -webkit-text-fill-color: transparent;
  border-radius: 5px;
  /* color: black; */
}

@media only screen and (max-width: 600px) {
  .meme-image {
    height: 41vh;
    width: 65vw;
  }

  .size {
    font-size: 25px;
  }
}